        .idea/
        .ipynb_checkpoints/
        .idea/misc.xml
        week6/.ipynb_checkpoints/
        week5/.ipynb_checkpoints/
        week6/.ipynb_checkpoints/Homework_04.03.2025-checkpoint.ipynb
        week6/.ipynb_checkpoints/Homework_24_02_2025-checkpoint.ipynb
        week6/.ipynb_checkpoints/Week 6.2 - Statistics & Probability with Python (Post-Lesson) - Updated (1)-checkpoint.ipynb
        week6/.ipynb_checkpoints/Week 6.3 - Time Series with Python (Post-Lesson)-checkpoint.ipynb
